.elementor-template-full-width #content,
[class*="template-elementor_header_footer"] #content {
  padding-right: 0;
  padding-left: 0;
}
.elementor-template-full-width #content > .container,
[class*="template-elementor_header_footer"] #content > .container {
  max-width: 100%;
  padding: 0;
}

.elementor-header + #content {
  padding-top: 0;
}

.elementor-page.page-template-page-fullwidth-content #primary {
  padding-right: 0;
  padding-left: 0;
}

/* Elementor Fixes */
@media (min-width: 800px) {
  body.bb-buddypanel .elementor-section-stretched {
    padding-right: 68px;
  }
}

@media (min-width: 800px) {
  body.bb-buddypanel.buddypanel-open .elementor-section-stretched {
    padding-right: 220px;
  }
}

/* Appboss moderation button issue */
.elementor + .appbosscm-moderation-button-wrap {
  display: none;
}

/* Slick slider elementor */
.elementor-slick-slider .slick-prev,
.elementor-slick-slider .slick-next {
  box-shadow: none;
}

.elementor-slick-slider .slick-arrows-inside .slick-next {
  right: auto;
}

/* WooCommerce */
#content .elementor-widget-container li.product,
#content .wp-block-woocommerce-handpicked-products li.product,
#content .wp-block-woocommerce-product-category li.product,
#content .wp-block-woocommerce-product-new li.product,
#content .wp-block-woocommerce-product-on-sale li.product,
#content .wp-block-woocommerce-product-top-rated li.product,
#content .wp-block-woocommerce-products-by-attribute li.product,
#content .wp-block-woocommerce-product-best-sellers li.product {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
}
#content .elementor-widget-container li.product:hover,
#content .wp-block-woocommerce-handpicked-products li.product:hover,
#content .wp-block-woocommerce-product-category li.product:hover,
#content .wp-block-woocommerce-product-new li.product:hover,
#content .wp-block-woocommerce-product-on-sale li.product:hover,
#content .wp-block-woocommerce-product-top-rated li.product:hover,
#content .wp-block-woocommerce-products-by-attribute li.product:hover,
#content .wp-block-woocommerce-product-best-sellers li.product:hover {
  box-shadow: 0 6px 24px 0 rgba(18, 43, 70, 0.12);
}
#content .elementor-widget-container .woocommerce-loop-product__title,
#content .elementor-widget-container .woocommerce-loop-category__title,
#content .wp-block-woocommerce-handpicked-products .woocommerce-loop-product__title,
#content .wp-block-woocommerce-handpicked-products .woocommerce-loop-category__title,
#content .wp-block-woocommerce-product-category .woocommerce-loop-product__title,
#content .wp-block-woocommerce-product-category .woocommerce-loop-category__title,
#content .wp-block-woocommerce-product-new .woocommerce-loop-product__title,
#content .wp-block-woocommerce-product-new .woocommerce-loop-category__title,
#content .wp-block-woocommerce-product-on-sale .woocommerce-loop-product__title,
#content .wp-block-woocommerce-product-on-sale .woocommerce-loop-category__title,
#content .wp-block-woocommerce-product-top-rated .woocommerce-loop-product__title,
#content .wp-block-woocommerce-product-top-rated .woocommerce-loop-category__title,
#content .wp-block-woocommerce-products-by-attribute .woocommerce-loop-product__title,
#content .wp-block-woocommerce-products-by-attribute .woocommerce-loop-category__title,
#content .wp-block-woocommerce-product-best-sellers .woocommerce-loop-product__title,
#content .wp-block-woocommerce-product-best-sellers .woocommerce-loop-category__title {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
#content .elementor-widget-container li.product .price,
#content .wp-block-woocommerce-handpicked-products li.product .price,
#content .wp-block-woocommerce-product-category li.product .price,
#content .wp-block-woocommerce-product-new li.product .price,
#content .wp-block-woocommerce-product-on-sale li.product .price,
#content .wp-block-woocommerce-product-top-rated li.product .price,
#content .wp-block-woocommerce-products-by-attribute li.product .price,
#content .wp-block-woocommerce-product-best-sellers li.product .price {
  color: #DC5525;
  font-weight: 500;
  text-align: center;
}
#content .elementor-widget-container li.product .price del,
#content .wp-block-woocommerce-handpicked-products li.product .price del,
#content .wp-block-woocommerce-product-category li.product .price del,
#content .wp-block-woocommerce-product-new li.product .price del,
#content .wp-block-woocommerce-product-on-sale li.product .price del,
#content .wp-block-woocommerce-product-top-rated li.product .price del,
#content .wp-block-woocommerce-products-by-attribute li.product .price del,
#content .wp-block-woocommerce-product-best-sellers li.product .price del {
  color: #C8CBCF;
  font-weight: 400;
  opacity: 1;
}
#content .elementor-widget-container ul.products li.product .onsale,
#content .wp-block-woocommerce-handpicked-products ul.products li.product .onsale,
#content .wp-block-woocommerce-product-category ul.products li.product .onsale,
#content .wp-block-woocommerce-product-new ul.products li.product .onsale,
#content .wp-block-woocommerce-product-on-sale ul.products li.product .onsale,
#content .wp-block-woocommerce-product-top-rated ul.products li.product .onsale,
#content .wp-block-woocommerce-products-by-attribute ul.products li.product .onsale,
#content .wp-block-woocommerce-product-best-sellers ul.products li.product .onsale {
  margin: 0;
  top: 0;
  right: 0;
  border-top: 1px solid #E7E9EC;
  border-right: 1px solid #E7E9EC;
  left: auto;
  border-radius: 0 4px 0 4px;
  padding: 10px 10px;
  background-color: #E65454;
  min-height: auto;
  min-width: auto;
  line-height: 1em;
  text-transform: uppercase;
  font-size: 12px;
}
#content .elementor-widget-container li.product .button,
#content .wp-block-woocommerce-handpicked-products li.product .button,
#content .wp-block-woocommerce-product-category li.product .button,
#content .wp-block-woocommerce-product-new li.product .button,
#content .wp-block-woocommerce-product-on-sale li.product .button,
#content .wp-block-woocommerce-product-top-rated li.product .button,
#content .wp-block-woocommerce-products-by-attribute li.product .button,
#content .wp-block-woocommerce-product-best-sellers li.product .button {
  width: 100%;
  border-radius: 0;
  padding: 12px 10px;
  margin-top: auto;
}
#content .elementor-widget-container li.product .button:hover,
#content .wp-block-woocommerce-handpicked-products li.product .button:hover,
#content .wp-block-woocommerce-product-category li.product .button:hover,
#content .wp-block-woocommerce-product-new li.product .button:hover,
#content .wp-block-woocommerce-product-on-sale li.product .button:hover,
#content .wp-block-woocommerce-product-top-rated li.product .button:hover,
#content .wp-block-woocommerce-products-by-attribute li.product .button:hover,
#content .wp-block-woocommerce-product-best-sellers li.product .button:hover {
  color: #fff;
}
#content .elementor-widget-container .star-rating,
#content .wp-block-woocommerce-handpicked-products .star-rating,
#content .wp-block-woocommerce-product-category .star-rating,
#content .wp-block-woocommerce-product-new .star-rating,
#content .wp-block-woocommerce-product-on-sale .star-rating,
#content .wp-block-woocommerce-product-top-rated .star-rating,
#content .wp-block-woocommerce-products-by-attribute .star-rating,
#content .wp-block-woocommerce-product-best-sellers .star-rating {
  margin: 0 auto 10px;
}
#content .elementor-widget-container .woocommerce-placeholder,
#content .wp-block-woocommerce-handpicked-products .woocommerce-placeholder,
#content .wp-block-woocommerce-product-category .woocommerce-placeholder,
#content .wp-block-woocommerce-product-new .woocommerce-placeholder,
#content .wp-block-woocommerce-product-on-sale .woocommerce-placeholder,
#content .wp-block-woocommerce-product-top-rated .woocommerce-placeholder,
#content .wp-block-woocommerce-products-by-attribute .woocommerce-placeholder,
#content .wp-block-woocommerce-product-best-sellers .woocommerce-placeholder {
  border: 0;
  border-bottom: 1px solid #E7E9EC;
}

.elementor-widget-container .product_list_widget {
  list-style: none;
  margin: 0;
}
.elementor-widget-container .product_list_widget li {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  margin-bottom: 20px;
}
.elementor-widget-container .product_list_widget li:hover {
  box-shadow: 0 6px 24px 0 rgba(18, 43, 70, 0.12);
}
.elementor-widget-container .product_list_widget img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 1em;
  box-shadow: none;
}
.elementor-widget-container .product_list_widget .product-title {
  color: #122B46;
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
  text-align: center;
}
.elementor-widget-container .product_list_widget .amount {
  color: #DC5525;
  display: block;
  font-weight: 500;
  margin-top: -10px;
  margin-bottom: 15px;
  text-align: center;
}
.elementor-widget-container .product_list_widget del .amount {
  color: #C8CBCF;
  margin-bottom: 10px;
}
.elementor-widget-container .product_list_widget .star-rating {
  font-size: 12px;
}

.elementor-widget-wrap #groups-list {
  list-style: none;
  margin: 0;
}
.elementor-widget-wrap #groups-list .item-avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  margin-left: 12px;
}
.elementor-widget-wrap #groups-list .item-avatar img {
  border-radius: 3px;
}
.elementor-widget-wrap #groups-list .item {
  line-height: 1;
}
.elementor-widget-wrap #groups-list .item-title {
  margin-bottom: 3px;
}
.elementor-widget-wrap #groups-list .item-title a {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #122B46;
  letter-spacing: -0.24px;
}
.elementor-widget-wrap #groups-list span.activity {
  color: #A3A5A9;
  font-size: 12px;
  letter-spacing: -0.26px;
  line-height: 1.2;
}

.elementor-widget-wp-widget-bp_latest_activities .activity-list {
  padding: 0;
}
.elementor-widget-wp-widget-bp_latest_activities .update-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.elementor-widget-wp-widget-bp_latest_activities .update-item cite {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  min-width: 0;
  margin-left: 10px;
}
.elementor-widget-wp-widget-bp_latest_activities .update-item {
  font-size: 14px;
}
.elementor-widget-wp-widget-bp_latest_activities .avatar {
  border-radius: 50%;
}
.elementor-widget-wp-widget-bp_latest_activities .view.activity-time-since {
  line-height: 1;
  margin: 0;
}

.elementor-widget-wp-widget-bp_core_members_widget #members-list {
  list-style: none;
  font-size: 0.875rem;
  line-height: 1.35;
}
.elementor-widget-wp-widget-bp_core_members_widget #members-list li {
  margin-bottom: 10px;
}
.elementor-widget-wp-widget-bp_core_members_widget ul.item-list li .item-avatar {
  margin-left: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  padding: 0;
}
.elementor-widget-wp-widget-bp_core_members_widget .item-title a {
  font-size: 14px;
}
.elementor-widget-wp-widget-bp_core_members_widget .item-meta {
  display: none;
}
.elementor-widget-wp-widget-bp_core_members_widget #members-list.item-list .item-avatar img {
  max-width: 100%;
}

.elementor-widget .widget-num-count {
  padding: 0 6px 0 0;
  color: #A3A5A9;
  margin-left: auto;
  font-size: 14px;
}

.elementor-widget-wp-widget-bp_core_recently_active_widget .item-avatar img,
.elementor-widget-wp-widget-bp_core_whos_online_widget .item-avatar img,
.elementor-widget-wp-widget-bp_core_follow_following_widget .item-avatar img {
  border-radius: 50%;
}

.uael-subscribe-bar .fluid-width-video-wrapper {
  padding: 0 !important;
  margin: 0 !important;
  width: auto;
}
.uael-subscribe-bar .fluid-width-video-wrapper iframe {
  height: auto;
  position: static;
  width: auto;
}

/* WooCommerce Issues */
.elementor-element.elementor-products-grid ul.products li.product {
  max-width: 100%;
}

.elementor-element.elementor-products-grid ul.products li.product .onsale.onsale {
  padding: 10px;
}

.elementor-element.elementor-products-grid h2.woocommerce-loop-category__title {
  text-align: center;
}

.site-content-grid > .woocommerce-notices-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.site-content-grid > .woocommerce-notices-wrapper:empty {
  display: none;
}

.woocommerce #content .site-content-grid > .product.elementor {
  display: block;
}

nav.elementor-pagination {
  margin-top: 30px;
  margin-bottom: 30px;
}

.elementor-image > .wp-caption {
  background: transparent;
}

@media (max-width: 1024px) {
  #content .elementor-element.elementor-products-grid ul.products.products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  #content .elementor-element.elementor-products-grid ul.products.products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  #content .elementor-element.elementor-products-grid ul.products.products {
    grid-template-columns: repeat(1, 1fr);
  }
}
.site-header.site-header--elementor,
.sticky-header .site-header.site-header--elementor,
.bb-buddypanel.sticky-header:not(.bb-sfwd-aside) .site-header.site-header--elementor {
  width: auto;
  background-color: transparent;
  box-shadow: none;
  position: relative;
}

.lms-side-panel-close .site-header--elementor .header-maximize-link {
  display: none !important;
}

body:not(.lms-side-panel-close) .site-header--elementor .header-minimize-link {
  display: none !important;
}

.site-header--elementor .user-wrap,
.site-header--elementor .bb-separator,
.site-header--elementor .header-search-link,
.site-header--elementor #header-messages-dropdown-elem,
.site-header--elementor #header-notifications-dropdown-elem,
.site-header--elementor .header-cart-link-wrap,
.site-header--elementor #bb-toggle-theme,
.site-header--elementor .course-toggle-view {
  display: none;
}
.site-header--elementor.site-header--align-right .header-aside {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.site-header--elementor.site-header--align-left .header-aside {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.site-header--elementor.site-header--align-center .header-aside {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-header--elementor .sub-menu .ab-submenu a:hover {
  background-color: transparent;
}

.site-header--elementor .user-link img, .site-header--elementor.avatar-none .user-link img {
  border-style: none;
}
.site-header--elementor.avatar-solid .user-link img {
  border-style: solid;
}
.site-header--elementor.avatar-dotted .user-link img {
  border-style: dotted;
}
.site-header--elementor.avatar-dashed .user-link img {
  border-style: dashed;
}
.site-header--elementor.avatar-double .user-link img {
  border-style: double;
}

.elementor .user-link img {
  max-width: 36px;
}

.elementor-widget-container .site-header--elementor .product_list_widget li {
  -ms-flex-flow: row;
      flex-flow: row;
  margin-bottom: 0;
}
.elementor-widget-container .site-header--elementor .product_list_widget li:hover {
  box-shadow: none;
}
.elementor-widget-container .site-header--elementor .product_list_widget img {
  margin: 0 0 0 10px;
}
.elementor-widget-container .site-header--elementor .product_list_widget .amount {
  margin-bottom: 0;
  color: inherit;
}
.elementor-widget-container .site-header--elementor .header-mini-cart ul.cart_list li.mini_cart_item > a:not(.remove) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.elementor .notification-avatar img {
  max-width: 36px;
}

.header-search-wrap--elementor {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  height: 76px;
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(139, 141, 157, 0.05), 0 5px 18px 0 rgba(65, 71, 108, 0.22);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all linear .2s;
          transition: all linear .2s;
  z-index: 2;
}
.search-visible-el .header-search-wrap--elementor {
  opacity: 1;
  visibility: visible;
}
.header-search-wrap--elementor .container {
  padding: 0;
  position: relative;
  width: 100%;
}
.header-search-wrap--elementor .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  height: 76px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-search-wrap--elementor .search-form label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
}
.header-search-wrap--elementor input.search-field,
.header-search-wrap--elementor .search-field-top {
  border: 0;
  background-size: 20px;
  outline: none;
  box-shadow: none;
  padding: 0 50px 0 50px;
  font-size: 16px;
  width: 100%;
  height: 76px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-search-wrap--elementor input.search-submit {
  position: absolute;
  width: 30px;
  font-size: 0;
  top: 18px;
  padding: 0;
  opacity: 0;
}
.header-search-wrap--elementor a.close-search {
  display: inline-block;
  line-height: 1;
  position: absolute;
  top: -webkit-calc(50% - 11px);
  top: calc(50% - 11px);
  left: 15px;
}
.header-search-wrap--elementor a.close-search i {
  font-size: 22px;
}
.header-search-wrap--elementor input[type="search"] {
  background-position: right 15px center;
}
